<ion-header [translucent]="true">
  <ion-toolbar color="pink">
    <ion-title>
      Component
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar></ion-searchbar>
  <ion-segment value="select" color="pink">
    <ion-segment-button value="all">
      <ion-label>select</ion-label>
    </ion-segment-button>
    <ion-segment-button value="toggle
    ">
      <ion-label>toggle
      </ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list>
    <ion-item>
      <ion-select aria-label="Fruit" interface="popover" placeholder="Select fruit">
        <ion-select-option value="apples">Apples</ion-select-option>
        <ion-select-option value="oranges">Oranges</ion-select-option>
        <ion-select-option value="bananas">Bananas</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-toggle [enableOnOffLabels]="true">Enable Notifications</ion-toggle>
  <ion-button expand="block" (click)="presentToast('bottom')">Present Toast At the Bottom</ion-button>
  
</ion-content>


<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button color="purper">
    <ion-icon name="chevron-up-circle"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button color="bule">
      <ion-icon name="document"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="green">
      <ion-icon name="color-palette"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="yewlloy">
      <ion-icon name="globe"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
